---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <img class="codin-gif" src="codin.gif" />
  <div class="all-stories">
    <div class="introduction-story">
      <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">It's me, Mehmet Emin Avşar</div>
        <div class="text-3xl py-3 font-bold">
          Software Developer / Computer Engineering Student at Bilkent
          University
        </div>
        <div class="py-2">
          <text class="text-lg">
            I usually go by the moniker avsarcs online. There isn't a category
            of programming that doesn't capture my interest: front-end,
            back-end, desktop, embedded.. When it comes to web development, I
            main the MERN stack and I am constantly learning new technologies.
            <ul class="px-4 py-2">
              <li>Currently learning: Angular and ASP.Net</li>
            </ul>
             Whenever I'm not coding or writing down project ideas, I am either
            listening to music or engulfing myself in a book.
            <ul class="px-4 py-2">
              <li>
                Recommended music (I change it every week): <br />
                <a
                  class="text-green-600"
                  href="https://song.link/y/Vsy1URDYK88"
                  target="_blank">[Language] (Porter Robinson)</a>
              </li>
            </ul>
             Hope you have a merry good time. Reach out at
            avsarmehmetemin@gmail.com if you want to collaborate on a project,
            want a website, or have any questions / remarks.
          </text>
        </div>
        <div class="mt-8">
          <a
            class="neobrutal-button"
            href="https://twitter.com/avsarcs"
            target="_blank"
          >
            Let's connect!</a
          >
        </div>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-4">
        My latest projects {"< / >"}
      </div>
    </div>

    <div class="projects-story">
      <HorizontalCard
        title="Miryoku"
        img="/miryoku-logo2.png"
        desc="A feedback-driven artwork sharing platform. Share your artworks with the community, and grow together! Tech stack: MERN"
        url="https://miryoku.onrender.com"
        badge="For Artists 💙"
      />

      <br />

      <HorizontalCard
        title="Goaled"
        img="/goaled3.png"
        desc="A mobile application that gives an RPG spin to goal tracking. Improve your character in-game by accomplishing real life tasks! Tech stack: Android Studio, Firebase, Java"
        url="https://github.com/uygar-blgn/goaled"
        badge="🎯🎯🎯"
      />

    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + post.slug}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </div>
</BaseLayout>

<style>
  li {
    display: list-item;
    list-style-type: square;
  }
  .codin-gif {
    position: absolute;
    opacity: 0.1;
    max-width: 85vw;
  }

  .all-stories {
    animation: blur 1s ease 1;
  }

  .projects-story {
    animation: slide-from-left 1s ease 1;
  }

  .introduction-story {
    animation: slide-from-above 1s ease 1;
  }

  @keyframes slide-from-above {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide-from-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes blur {
    0% {
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
    }
    100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
  }
</style>
